<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<main id="main" class="main">
  <section class="section profile">
    <div class="row">
      <div class="col-xl-4">

        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

            <img src="assets/Images/Users/{{img}}" alt="Profile" class="avatar">
            <h2>{{user.username}}</h2>
            <h3>Admin</h3>
            <div class="social-links mt-2">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

      </div>

      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit" (click)="update()">Edit Profile</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-username">Change UserName</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password" (click)="setchangePass()">Change Password</button>
              </li>

            </ul>
            <div class="tab-content pt-2">

              <div class="tab-pane fade show active profile-overview" id="profile-overview">
                <h5 class="card-title">About</h5>
                <p class="small fst-italic">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus.</p>

                <h5 class="card-title">Profile Details</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Full Name</div>
                  <div class="col-lg-9 col-md-8">{{user.fullname}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">User Name</div>
                  <div class="col-lg-9 col-md-8">{{user.username}}</div>
                </div>              

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Gender</div>
                  <div class="col-lg-9 col-md-8">{{user.gender}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Phone</div>
                  <div class="col-lg-9 col-md-8">{{user.phone}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Email</div>
                  <div class="col-lg-9 col-md-8">{{user.email}}</div>
                </div>

              </div>

<!-- ---------------------------------------------Profile Edit Form----------------------------------------------------- -->
              
              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                                <!-- Profile Edit Form -->
                <form [formGroup]="updateprofile">
                  <div class="row mb-3">
                    <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                    <div class="col-md-8 col-lg-9">
                      <img src="assets/Images/Users/{{admin.displayimg}}" alt="Profile">
                      <div class="pt-2">
                        <input type = "file" #file  formControlName="image" (change)="uploadImage(file.files)"  [(ngModel)]="user.image">
                      </div>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label" >Full Name</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="fullName" type="text" formControlName="fullname"   [(ngModel)]="user.fullname" class="form-control"  >
                      <span *ngIf="updateprofile.controls['fullname'].hasError('required')" class="text-danger">Full Name is required</span>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="username" class="col-md-4 col-lg-3 col-form-label">Username</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="username" type="text" class="form-control" formControlName="username" [(ngModel)]="user.username" readonly>                    
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="email" type="text" class="form-control" formControlName="email"   [(ngModel)]="user.email" readonly>                    
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="phone" class="col-md-4 col-lg-3 col-form-label">Phone Number</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="phone" type="text" class="form-control" formControlName="phone"   [(ngModel)]="user.phone">
                      <span *ngIf="updateprofile.controls['phone'].hasError('required')" class="text-danger">phone is required</span>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="email" class="col-md-4 col-lg-3 col-form-label">Gender</label>
                    <div class="col-md-8 col-lg-9">
                      <input type="text" class="form-control" formControlName="gender"   [(ngModel)]="user.gender" readonly>                    
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary" (click)="updateProfile()" [disabled]="!updateprofile.valid" >Save Changes</button>
                  </div>
                </form><!-- End Profile Edit Form -->

              </div>
            
 <!-- ---------------------------------------------Change password Form----------------------------------------------------- -->            

              <div class="tab-pane fade pt-3" id="profile-change-password">
                <!-- Change Password Form -->
                <form [formGroup]="updatePassProfile">

                  <div class="row mb-3">
                    <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                    <div class="col-md-8 col-lg-9">
                      <input (change)="CorrectPassword()"  type="password" class="form-control" formControlName="password">
                      <span *ngIf="updatePassProfile.controls['password'].hasError('required') && 
                      updatePassProfile.controls['password']?.touched"   class="text-danger">Current Password is required</span>
                      <span *ngIf="updatePassProfile.controls['password'].hasError('notCorrect')" class="text-danger">Please Enter Correct Password</span>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label  class="col-md-4 col-lg-3 col-form-label">New Password</label>
                    <div class="col-md-8 col-lg-9">
                      <input (change)="matchPassword()"  type="password" class="form-control" formControlName="newpassword">
                      <span *ngIf="updatePassProfile.controls['newpassword'].hasError('required') && 
                      updatePassProfile.controls['newpassword']?.touched"  class="text-danger">New Password is required</span>
                      <span *ngIf="updatePassProfile.controls['newpassword'].hasError('minlength')" class="text-danger">Please Enter Strong Password</span>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                    <div class="col-md-8 col-lg-9">
                      <input (change)="matchPassword()"  type="password" class="form-control" formControlName="confirmNewpassword">
                      <span *ngIf="updatePassProfile.controls['confirmNewpassword'].hasError('missMatch')" class="text-danger">not match with new Password</span>
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit"  class="btn btn-primary" (click)="changePass()" [disabled]="!updatePassProfile.valid">Change Password</button>
                  </div>
                </form><!-- End Change Password Form -->

              </div>



<!-- ---------------------------------------------Change username Form----------------------------------------------------- -->




              <div class="tab-pane fade pt-3" id="profile-change-username">
                <span   style="color:dodgerblue !important">IF you Change Username make sure you Choosed valid user name <br> will be redirected to the login page  </span><br><br>
               

                  <div class="row mb-3">
                    <label  class="col-md-4 col-lg-3 col-form-label">UserName</label>
                    <div class="col-md-8 col-lg-9">
                      <input (change)="checkuser()"  type="text" class="form-control" [formControl] = "userrname" >
                      
                      <span *ngIf="userrname.hasError('invalidUsername')" class="text-danger">Existe UserName</span>
                      <span *ngIf="userrname.hasError('sameUsernme')" class="text-danger">Same UserName</span>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="Passwordd" class="col-md-4 col-lg-3 col-form-label">Password</label>
                    <div class="col-md-8 col-lg-9">
                      <input (change)="CorrectPasswordForUser()"  type="password" class="form-control" [formControl] = "passwordd">
                      <span *ngIf="passwordd.hasError('required') && passwordd?.touched" class="text-danger">Current Password is required</span>
                      <span *ngIf="passwordd.hasError('notCorrect')" class="text-danger">Please Enter Correct Password</span>
                    </div>
                  </div>


                  <div class="text-center">
                    <button type="submit"  class="btn btn-primary" (click)="changeusername()" [disabled]="!userrname.valid || !passwordd.valid">Change</button>
                  </div>
                <!-- End Change Password Form -->

              </div>

            </div><!-- End Bordered Tabs -->

          </div>
        </div>

      </div>
    </div>
  </section>
</main>

