.colorbut{
    border: 1px solid var(--primary-color) !important;
      border-radius: var(--border-radius);
      font-weight: 70;
      background: var(--primary-color) !important ;}
.toast-middle-center {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}