<app-nav></app-nav>
<!-- about breadcrumb -->
<section class="w3l-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container pt-lg-5 pt-3 p-lg-4 pb-3">
            <h2 class="title mt-5 pt-lg-5 pt-sm-3">About Company</h2>
            <ul class="breadcrumbs-custom-path pb-sm-5 pb-4 mt-2 text-center mb-5">
                <li><a [routerLink]="['/']" style = "text-decoration: none;">Home</a></li>
                <li class="active">&nbsp;/ About-Us</li>
            </ul>
        </div>
    </div>
    <div class="waveWrapper waveAnimation">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none">
            <path d="M-5.07,73.52 C149.99,150.00 299.66,-102.13 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none;"></path>
        </svg>
    </div>
</section>
<!-- //about breadcrumb -->
<section id="about" class="home-services pt-lg-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="box-wrap">
                    <div class="box-wrap-grid">
                        <div class="icon">
                            <span class="fa fa-graduation-cap"></span>
                        </div>
                        <div class="info">
                            <p>Our</p>
                            <h4><a href="#url">Mission</a></h4>
                        </div>
                    </div>
                    <p class="mt-4">If you are looking for
                        high-quality and reliable online courses.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-md-0 mt-4">
                <div class="box-wrap">
                    <div class="box-wrap-grid">
                        <div class="icon">
                            <span class="fa fa-book"></span>
                        </div>
                        <div class="info">
                            <p>Our</p>
                            <h4><a href="#url">Vision</a></h4>
                        </div>
                    </div>
                    <p class="mt-4">If you are looking for
                        high-quality and reliable online courses.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-lg-0 mt-4">
                <div class="box-wrap">
                    <div class="box-wrap-grid">
                        <div class="icon">
                            <span class="fa fa-trophy"></span>
                        </div>
                        <div class="info">
                            <p>Our</p>
                            <h4><a href="#url">Goal</a></h4>
                        </div>
                    </div>
                    <p class="mt-4">If you are looking for
                        high-quality and reliable online courses.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-aboutblock1 py-5" id="about">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row">
            <div class="col-lg-6 align-self">
                <span class="title-small mb-2">About Us</span>
                <h3 class="title-big mx-0">{{this.guest.about[0].text1}}</h3>
                <p class="mt-lg-4 mt-3">{{this.guest.about[0].text2}}</p>
            </div>
            <div class="col-lg-6 left-wthree-img mt-lg-0 mt-sm-5 mt-4">
                <img src="assets/Images/Pages/{{this.guest.about[0].imagepath}}" alt="" class="img-fluid radius-image" style="width: 560px; height:340px;">
            </div>
        </div>
    </div>
</section>
<section class="w3l-servicesblock w3l-servicesblock1 py-5" id="progress">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row">
            <div class="col-lg-6 align-self pr-lg-4">
                <img src="assets/Images/Pages/{{this.guest.about[0].image}}" alt="" class="img-fluid radius-image" style="width: 560px; height:340px;">
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5 pl-lg-4">
                <span class="title-small mb-2">Progress bars</span>
                <h3 class="title-big">  {{this.guest.about[0].text3}}</h3>
                <p class="mt-md-4 mt-3">{{this.guest.about[0].text4}}</p>
                    <a *ngIf="!check" routerLink="/security/login" class="btn btn-primary btn-style mt-md-5 mt-4 colorbut">Join us</a>
            </div>
        </div>
    </div>
</section>
<!-- <section class="w3l-block py-5" id="">
    <div class="container py-lg-5 py-md-3">
        <div class="row">
            <div class="col-lg-6 about-right-faq align-self">
                <span class="title-small mb-2">Start online course</span>
                <h3 class="title-big mx-0"> Enhance your skills with best online courses</h3>
                <p class="mt-lg-4 mt-3 mb-lg-5 mb-4">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
                    ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet elit. Non quae, fugiat 
                    libero ut justo, ultrices in ligula amet dolor sit</p>
                <div class="two-grids mt-md-0 mt-md-5 mt-4">
                    <div class="grids_info">
                        <h4>Global Certificate</h4>
                        <p class="">Pellen tesque libero ut justo,
                            ultrices in ligula elit sed.</p>
                    </div>
                    <div class="grids_info">
                        <h4>Books and library</h4>
                        <p class="">Pellen tesque libero ut justo,
                            ultrices in ligula elit sed.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6 left-wthree-img mt-lg-0 mt-sm-5 mt-4">
                <img src="../../assets/Web/images/about1.jpg" alt="" class="img-fluid radius-image">
            </div>
            <div class="col-lg-3 col-6  left-wthree-img mt-lg-0 mt-sm-5 mt-4">
                <img src="../../assets/Web/images/about2.jpg" alt="" class="img-fluid radius-image">
            </div>
        </div>
    </div>
</section> -->
<!-- stats -->
<section class="w3l-stats py-5" id="stats">
    <div class="gallery-inner container py-lg-5 py-md-4">
        <span class="title-small text-center mb-1">Our Achievements</span>
        <h3 class="title-big text-center mb-5">Our progress never Ends</h3>
        <div class="row stats-con">
            <div class="col-md-3 col-6 stats_info counter_grid">
                <p class="counter">500 </p>
                <span class="plus">+</span><br>
                <h3>Students Enrolled</h3>
            </div>
            <div class="col-md-3 col-6 stats_info counter_grid1">
                <p class="counter">56</p>
                <span class="plus">+</span><br>
                <h3>Courses Uploaded</h3>
            </div>
            <div class="col-md-3 col-6 stats_info counter_grid mt-md-0 mt-4">
                <p class="counter">130</p>
                <span class="plus">k</span><br>
                <h3>Certified students</h3>
            </div>
            <div class="col-md-3 col-6 stats_info counter_grid2 mt-md-0 mt-4">
                <p class="counter">243 </p>
                <span class="plus">+</span><br>
                <h3>Global Teachers </h3>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>