<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<main id="main" class="main">
  <section class="section dashboard">
    <div class="row">
    <div class="col-lg-12">
        <div class="card p-3">
            <h1>Details</h1>
            <div>
                <h4>About_US</h4>
                <hr />
                <dl class="row" >
                    <dt class = "col-sm-2 mt-5">
                      Main Image
                    </dt>
                    <dd class = "col-sm-10">
                      <img  src="assets/Images/Pages/{{admin.AboutusData.imagepath}}" width="100" height="100">
                    </dd>
                    <dt class = "col-sm-2 mt-3">
                      Image About us
                    </dt>
                    <dd class = "col-sm-10 mt-3">
                      <img  src="assets/Images/Pages/{{admin.AboutusData.image}}" width="100" height="100">
                    </dd>
                    <dt class = "col-sm-2 mt-3">
                      Title 1
                    </dt>
                    <dd class = "col-sm-10 mt-3"> 
                      {{admin.AboutusData.text1}}
                    </dd>
                    <dt class = "col-sm-2 mt-3">
                      Paragraph 1
                    </dt>
                    <dd class = "col-sm-10 mt-3">
                      {{admin.AboutusData.text2}}
                    </dd>
                    <dt class = "col-sm-2 mt-3">
                      Title 2
                    </dt>
                    <dd class = "col-sm-10 mt-3">
                      {{admin.AboutusData.text3}}
                    </dd>
                    <dt class = "col-sm-2 mt-3">
                      Paragraph 2
                    </dt>
                    <dd class = "col-sm-10 mt-3">
                      {{admin.AboutusData.text4}}
                    </dd>
                </dl>
            </div>
            <div>
              
              <button class="btn btn-primary m-1" (click)="updateDailog(admin.AboutusData)">Update</button> |
                <a routerLink="/admin/dashboard">Back</a>
            </div>
       </div>

    </div>
</div>
</section>


<ng-template  #callUpdate >
  <h2 mat-dialog-title>Update About_Us</h2>
  <mat-dialog-content >
    <form [formGroup]="updateForm" >
      <mat-label>Main Image</mat-label>
      <input type="file" #file1 formControlName="imagepath"  [(ngModel)]="p_data.imagepath" (change)="uploadImg(file1.files,1)">  
       <br/>
      <mat-label>About_us Image</mat-label>
      <input type="file" #file formControlName="image"  [(ngModel)]="p_data.image"  (change)="uploadImg(file.files,2)" class="mt-3">  
      <br/>
      <mat-form-field class="mt-2">
        <mat-label>Title 1</mat-label>
        <input  type="text" matInput formControlName="text1" [(ngModel)]="p_data.text1"/>
      </mat-form-field>
      <br/>

      <mat-form-field >
        <mat-label>Paragraph 1</mat-label>
        <textarea type="text"  matInput formControlName="text2"[(ngModel)]="p_data.text2"></textarea>
      </mat-form-field>
      <br />
      <mat-form-field >
        <mat-label>Title 2</mat-label>
        <input type="text"matInput formControlName="text3" [(ngModel)]="p_data.text3"/>
      </mat-form-field>
      <br /> 
      <mat-form-field >
        <mat-label>Paragraph 2</mat-label>
        <textarea type="text"matInput formControlName="text4" [(ngModel)]="p_data.text4"></textarea>
      </mat-form-field>
      <br />     
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true"  cdkFocusInitial  (click)="updateAboutus()" >
      Update
    </button>
   
  </mat-dialog-actions>
</ng-template>
  


</main>
 

   

   

  
